html{
    font-size: 10px;
    height: 100%;
    width: 100%;
  }

  *{
      box-sizing: border-box;
      font-family: Helvetica;
  }

  #pageWrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background:  #091540;
}

#mainContainer{
    background-color: #7692ff;
    border: solid 1px white;
    height: 500px;
    width: 500px;
    border-radius: 4px;
}

#title{
    height: 20%;
}

#userInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


#display{
    display: flex;
    color: black;
    background-color: #abd2fa;
    margin: 5px;
    height: 30%;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input{
    width: 30px;
}

button{
    border: none;
    display: inline-block;
    color: black;
    background-color: white;
    font-size: 14px;
    padding: 5px;
}

button:hover{
    /*box-shadow: */
}

#buttons{
    height: 30%;
}